.row {
	margin-left: 20px;
	color: white;
}

.row > h2 {
	padding-bottom: 1%;
	border-bottom: 1px solid #282c2d;
}

.row__posters {
	display: flex;

	/* to fix the y-axis while movement through x-axis */
	overflow-y: hidden;
	overflow-x: scroll;
	/* to avoid crop */
	padding: 20px;
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__commonPoster {
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #e50914;
	cursor: pointer;
	opacity: 0.8;
}

.row__commonPoster:hover {
	border-bottom: 5px solid #e50914;
	margin-bottom: 16px;
	opacity: 1;
}

.row__poster {
	/* will maintain the aspect ratio */
	object-fit: contain;
	width: 100%;
	max-width: 200px;
	transition: transform 450ms;
}

.row__poster:hover {
	/* zoom when hover */
	transform: scale(1.08);
}

.row__posterLarge {
	width: 100%;
	transition: transform 450ms;

	height: 200px;
	object-fit: contain;
}

.row__posterLarge:hover {
	transform: scale(1.09);
}
